<div class="tweet_container">
  <p>Hey <%= @user.handle %> compose a bitter tweet!</p>
  <form action="/tweets/<%= @user.handle %>" method="post">
    <input type="text" name="message" placeholder="How bitter are you feeling today">
<!--     <textarea name="message" placeholder="How bitter are you feeling today">
    </textarea> -->
    <input type="submit" value="Tweet!">
  </form>

</div>
